<!-- Admin Panel-->
    <section id="admin" class="my-5 text-center">
        <div class="container">
            <div class="card">
                <div class="row">
                    <div class="col">
                        <div class="info-header mb-5">
                            <h1 class="bp-3">
                                Admin Panel
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-lg-4 ">
                        
                        <a href="/admin/newsletter" class="btn nav-Theme"> 
                            <i class="fas fa-scroll">
                                <h5 class="">NewsLetters</h5>
                            </i>
                        </a>
                    </div>
                    <div class="col-6 col-lg-4 ">
                        <a href="/admin/reminders" class="btn nav-Theme"> 
                            <i class="fas fa-bell">
                                <h5 class="">Reminders</h5>
                            </i>
                        </a>
                    </div>
                    <div class="col-6 col-lg-4 ">
                        <a href="/admin/shows" class="btn nav-Theme"> 
                            <i class="fas fa-theater-masks">
                                <h5 class="">Edit Shows</h5>
                            </i>
                        </a>
                    </div>
                    <div class="col-6 col-lg-4 ">
                        <a href="/admin/castIndex" class="btn nav-Theme"> 
                            <i class="far fa-address-book">
                                <h5 class="">Casts</h5>
                            </i>
                        </a>
                    </div>
                    <div class="col-6 col-lg-4 ">
                        <a href="/tickets/index" class="btn nav-Theme"> 
                            <i class="fas fa-ticket-alt">
                                <h5 class="">Tickets</h5>
                            </i>
                        </a>
                    </div>
                    <div class="col-6 col-lg-4 ">
                        <a href="/admin/subscribe" class="btn nav-Theme">
                            <i class="fab fa-pied-piper-hat">
                                <h5 class="">Subscribe</h5>
                            </i>
                        </a>
                    </div>
                    

                </div>
            </div>
            

            </div>
        </div>
    </section>
  