<div class="container">
    <section class="py-5">
        <h1 class="display-3">
            Thank You
        </h1>
        <p class="lead">Your Tickets have been order. Please visit the box office to pick up your tickets beforehand.</p>
        <a href="/" class="btn btn-primary btn-lg">Home Page</a>
    </section>
</div>