<!-- AUTHORS-->
    <section id="authors" class="my-5 text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="info-header mb-5">
                        <h1 class=" pb-3">
                            About us
                        </h1>
                        <p class="lead">About Us Youth Theatre Works (YTW) is a non-profit theatre company that has supported inclusion and cooperation of all abilities within the arts for more than fifteen years. Founded by Barbara Durost and Kathy Kilsby, YTW has laid the foundation for creating performance theatre that strives to teach kids not just how to act and sing, but also how to work together, sing together, and help each other – both onstage and offstage.
                        </p>
                    <hr>
                    <br>
                    <h3>Mission Statement</h3>
                    <p class="lead">At Youth Theatre Works we foster each child's individual talents and abilities while teaching mutual respect and appreciation for one another's differences and unique contributions to each theatrical production we present. We have an open-door policy and accept participants at every level of experience and ability. Our non-profit, non-tuition-based programs are process oriented and designed to include all children regardless of their financial situation. Students mentor each other and are vital creators of each production. Participants see their work and that of their peers as indispensable elements of a whole. In addition to invaluable experience in theater craft, children walk away with increased confidence, sense of self and appreciation of others.   
                    </p>
                    <hr>
                    <br>

   
                    </div>
                </div>
            </div>
            <hr>
            
            <div class="row">
                <div class=" col-sm-6">
                    <div class="card h-100-resp">
                        <div class="card-body">
                            <div class="image-frame mx-auto  rounded-circle mb-2">
                                <img src="img/kathyKilsby.PNG" alt="" class=" img-kat">
                            </div>
                            <h3>Kathy Kilsby</h3>
                            <h5 class="text-muted">Co-founder</h5>
                            <p>Kathy Kilsby received her Bachelor of Arts in Dance from Loyola University, her Masters in Education from Claremont Graduate University, as well as her Resource Specialist and Learning Handicapped Credentials from LaVerne University. Kathy has worked in the entertainment industry and has performed in television, theatre and film, such as “Welcome Back, Conner”. She has participated in the “Artists in the Park” program, where teachers bring performers into the classroom to promote the performing arts and encourage a diverse education. As a dancer, she has traveled around the globe, and appreciates learning about different cultures and communities. </p>
                            <div class="d-flex justify-content-center">
                                <div class="p-4">
                                    <a href="http://facebook.com">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="http://twitter.com">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="http://instagram.com">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-sm-6">
                    <div class="card h-100-resp">
                        <div class="card-body">
                            <div class="image-frame mx-auto  rounded-circle mb-2">
                                <img src="img/barbaraDurost.PNG" alt="">
                            </div>
                            <h3>Barbara Durost</h3>
                            <h5 class="text-muted">Co-founder</h5>
                            <p>Pianist, conductor, vocal coach and self-proclaimed theater geek, Barbara Durost holds a B.M. In piano performance, a M.M. In piano pedagogy and a D.M.A. In conducting. She has performed as accompanist and/or music director for hundreds of shows in regional theater, summer stock, dinner theater and schools from coast to coast. An accomplished conductor, she has served several churches as music director, including Claremont United Methodist Church. Interested in outreach in music and theater with children and youth, including those with alternative abilities, all of Barbara's work is aimed toward finding each child's passion in the arts and providing opportunities to nurture each unique talent. </p>
                            <div class="d-flex justify-content-center">
                                <div class="p-4">
                                    <a href="http://facebook.com">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="http://twitter.com">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="http://instagram.com">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-sm-6">
                    <div class="card h-100-resp">
                        <div class="card-body">
                            <div class="image-frame mx-auto  rounded-circle mb-2">
                                <img src="img/hayleeCoburn.PNG" alt="" class="img-hay">
                            </div>
                            <h3>Haylee Coburn</h3>
                            <h5 class="text-muted"></h5>
                            <p>Haylee Coburn is a proud alumna of Youth Theatre Works! She fell in love with the program after her first production, The Boyfriend (2004). Inspired by YTW, Haylee went on to study vocal music at the Los Angeles County High School for the Arts where she earned a scholarship from the Flora Thornton Foundation. Later, she received a Bachelor Fine Arts in Musical Theatre from the Chicago College of Performing Arts at Roosevelt University. Haylee has since assisted and directed several YTW productions such as Beauty and the Beast, Fiddler on the Roof, and The Secret Garden. She also wrote, produced, and directed the 2017 Christmas Pageant at the Claremont United Methodist Church. Haylee will forever remain grateful to Barbara and Kathy for igniting her passion and for giving her this incredible opportunity.</p>
                            <div class="d-flex justify-content-center">
                                <div class="p-4">
                                    <a href="http://facebook.com">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="http://twitter.com">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="http://instagram.com">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-sm-6">
                    <div class="card h-100-resp">
                        <div class="card-body">
                            <div class="mx-auto image-frame rounded-circle mb-2">
                                <img src="img/timHernandez.PNG" alt="" class="img-tim">
                            </div>
                            <h3>Tim Hernandez</h3>
                            <h5 class="text-muted"></h5>
                            <p>YTW Alumnus Timothy Hernandez received his Bachelor of Arts in History with a Theatre Minor at St. Mary’s College of California, where he received a Theatre Scholarship. He also received his Social Science Teaching Credential and Masters in Education at Claremont Graduate University. He has performed in musicals such as Amahl and the Night Visitors and Anyone Can Whistle, and has co-assistant directed YTW musicals such as Into the Woods and The Secret Garden. He enjoys dancing, whether Swing Dance, Waltz, or Salsa Dance. He currently teaches Drama at St. Matthias Catholic School in Los Angeles. Timothy deeply values both Barbara Durost and Kathy Kilsby’s dedication to not just their current YTW actors, but also to their alumni.</p>
                            <div class="d-flex justify-content-center">
                                <div class="p-4">
                                    <a href="http://facebook.com">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="http://twitter.com">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="http://instagram.com">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <!-- CONTATCT-->
    <section id="contact" class="home-2 py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h3>Get In Touch</h3>
                    <p class="lead">Send us an email and stay in contact.</p>
                    <form action="/mailer" method="post">
                        <div class="input-group input-group-lg mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                            <input name="name" type="text" class="form-control" placeholder="name">
                        </div>

                        <div class="input-group input-group-lg mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-envelope-open"></i>
                                </span>
                            </div>
                            <input name="email" type="email" class="form-control" placeholder="email">
                        </div>

                        <div class="input-group input-group-lg mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-pencil-alt"></i>
                                </span>
                            </div>
                            <textarea name="text" class="form-control" placeholder="Message" rows="5"></textarea>
                        </div>

                        <input type="submit" value="Submit" class="btn btn-primary btn-block btn-lg">

                    </form>
                </div>

                <div class="display-1 col-lg-3 align-self-center d-none d-lg-block mx-auto text-center">
                   <i class="mask-icon fas fa-theater-masks"></i>
                </div>
            </div>
        </div>
    </section>