body {
  background: #937c30;
  color: #f8f9fa; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f8f9fa;
  text-shadow: 0 2px 2px rgba(61, 86, 37, 0.34), 0 3px 1px rgba(61, 86, 37, 0.32), 0 1px 5px rgba(61, 86, 37, 0.22);
  -webkit-transition: -webkit-text-shadow 0.25s;
  transition: -webkit-text-shadow 0.25s;
  transition: text-shadow 0.25s;
  transition: text-shadow 0.25s, -webkit-text-shadow 0.25s; }

#accordion a {
  color: #fcfcfc; }

.sandy {
  background: #584d20;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.2); }

hr {
  background: #d4bd72; }

.jumbotron,
.card {
  background: url("../img/dark_embroidery2.png");
  color: #f8f9fa; }

.card {
  box-shadow: 0 2px 2px 0 rgba(61, 86, 37, 0.34), 0 3px 1px -2px rgba(61, 86, 37, 0.32), 0 1px 5px 0 rgba(61, 86, 37, 0.22);
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s; }
  .card p a {
    color: #cdb33a;
    text-shadow: 0 2px 2px rgba(61, 86, 37, 0.34), 0 3px 1px rgba(61, 86, 37, 0.32), 0 1px 5px rgba(61, 86, 37, 0.22); }
  .card p a:hover {
    color: #e0b127; }

.form-control {
  border-color: #506d41;
  background: #fcfcfc; }

label {
  color: #f8f9fa; }

.fabutton {
  background: none;
  color: #fff;
  padding: 2px;
  border: none; }

.fas-fabutton {
  color: #fff;
  text-shadow: 0 2px 2px rgba(61, 86, 37, 0.34), 0 3px 1px rgba(61, 86, 37, 0.32), 0 1px 5px rgba(61, 86, 37, 0.22);
  -webkit-transition: -webkit-text-shadow 0.25s;
  transition: -webkit-text-shadow 0.25s;
  transition: text-shadow 0.25s;
  transition: text-shadow 0.25s, -webkit-text-shadow 0.25s; }

.nav-Theme {
  background: url("../img/spirationDark.png");
  box-shadow: 2px 2px 5px #7a682e;
  opacity: 0.9; }

.display-1-resp {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2; }

.nav-background {
  margin-bottom: 40px;
  min-height: 94px;
  width: 100%;
  background: #7a682e; }

.nav-background2 {
  min-height: 80px;
  width: 100%;
  background: #937c30; }

.navbar {
  background: url("../img/spirationDark.png");
  box-shadow: 2px 2px 5px #7a682e;
  opacity: 0.9; }
  .navbar .nav-item {
    font-size: 1.2rem;
    padding-right: 1rem; }

.navbar-admin {
  background: url("../img/spirationDark.png");
  box-shadow: 2px 2px 5px #7a682e;
  opacity: 0.9;
  height: 3vh; }
  .navbar-admin .nav-item {
    font-size: 1rem;
    padding-right: 0.8rem; }

#showcase {
  position: relative;
  z-index: 9;
  background: url("../img/main2.jpg");
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  min-height: 600px;
  margin-top: -40px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); }
  #showcase .primary-overlay {
    background: rgba(61, 51, 20, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  #showcase .mt-5-resp {
    margin-top: 3rem !important; }

.home-2 {
  background: #584d20;
  color: #fff; }

.input-group-text {
  background-color: #d4bd72;
  color: #fff; }

#authors img {
  width: 160px;
  height: 160px;
  position: relative;
  left: -6px;
  background: black; }

#authors .img-tim {
  width: 200px;
  height: 200px;
  left: -23px;
  top: -20px; }

#authors .img-kat {
  top: -5px;
  left: 0px; }

#authors .img-hay {
  left: -3px; }

#authors .image-frame {
  margin-top: -50px;
  height: 150px;
  width: 150px;
  overflow: hidden; }

#authors .card:hover {
  background: #584d20;
  color: #fff; }

#authors .registered {
  background: #050505; }

#authors p {
  text-shadow: 0 2px 2px rgba(61, 86, 37, 0.34), 0 3px 1px rgba(61, 86, 37, 0.32), 0 1px 5px rgba(61, 86, 37, 0.22); }

#authors .fab {
  color: #fff; }

#authors .mask-icon {
  font-size: 8em; }

.bodyArticle {
  white-space: pre-wrap; }

.responsive-video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative; }

.responsive-video iframe {
  position: absolute;
  width: 100%;
  height: 100%; }

#admin i {
  margin: auto;
  text-align: center;
  padding: 25px; }

#admin .fas,
#admin .far,
#admin .fab {
  font-size: 80px;
  height: 150px;
  width: 150px; }

.text-gold {
  color: #cdb33a; }

a.text-gold:hover {
  color: #e0b127; }

.h-100-resp {
  height: 100%; }

@media (max-width: 768px) {
  #showcase {
    min-height: 500px;
    background-position-x: 17%; }
    #showcase h2 {
      font-size: 4rem; }
    #showcase #tickets {
      margin-top: -25px; }
    #showcase .mt-5-resp {
      margin-top: 1rem !important; }
  .mb-resp {
    margin-bottom: 1rem; }
  .mt-resp-section {
    position: relative;
    margin-top: 325px; }
  #admin i {
    margin: auto;
    text-align: center;
    padding: 10px; }
  #admin .fas,
  #admin .far,
  #admin .fab {
    font-size: 45px;
    height: 100px;
    width: 100px; }
  .display-1-resp {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2; } }

@media (max-width: 576px) {
  .h-100-resp {
    height: auto; }
  .resp-hidden {
    display: none; }
  table {
    font-size: 0.9rem; }
  nav h3 {
    font-size: 1.5rem; } }
