<section class="card col-md-10  mx-auto mb-2">
    <div class="card-body">
      <h3>Youth Theatre Works Parent Production Assistance Form</h3>
      <hr>
      <p class="bodyArticle">We ask that each family assist with two performances either with front of house operations or assisting with performers behind the scenes. Tasks include assisting with tickets, ushering, selling concessions, cleanup after the show, performer supervision, lighting, sound, costuming, hair and makeup, etc. Barbara and Kathy can answer specific questions you may have.</p>
        <p  class="bodyArticle">Please mark the areas below where you would prefer to help. We will try to assign you to tasks with which you feel comfortable.</p>
        <p  class="bodyArticle">We need every family to help with the set installation either on Saturday, June 23 or Sunday June 24. Times will be published as we get closer to the show.</p> 
        
        <p  class="bodyArticle">Thank you all for helping to make our performances of “The Secret Garden” possible! ☺</p>
    </div>

    <form action=""></form>
</section>