<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card card-body">
                <h3 class="text-center">Forgot Password</h3>
                <form method="post" action="/users/forgotPassword">
                    <div class="form-group">
                        <label for="email">Enter Email</label>
                        <input name="email" type="email" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>
</div>