<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 mx-auto mb-5">
            <div class="card card-body">
                <h3 class="text-center">Adding Kids</h3>
                <form>
                    <div class="form-group">
                        <label for="text">Child's Name</label>
                        <input id="item-name" placeholder="Add Child" type="text" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-plus pr-1"></i>Add Child</button>
                </form>
            </div>
        </div>
        <h4 class="text-center col-md-8 mx-auto">Listed Kids</h4>
        <div class="col-md-8 mx-auto">
            <ul id="item-group" class="list-group">
            {{#each user.kidname}} 
            
            
            <li class="list-group-item" id="item-0">
                <strong>{{name}}
                <a href="edit{{id}}" class="float-right">
                    <i class="edit-item fas fa-pencil-alt"></i>
                </a>
            </li>
            {{else}}
                <li class="list-group-item" id="item-0">
                <strong> No kids listed</strong>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
