
<div class="container">
  <div class="card card-body">
    <h3>Add a Show</h3>
    <form action="/shows" method="post">
      <div class="form-group">
        <label for="title">Title</label>
        <input required type="text" class="form-control" name="title">
      </div>
      <div class="form-group">
        <label for="showDate">Show Date</label>
        <input required type="date" class="form-control" name="showDate">
      </div>
      <div class="form-group">
        <label for="description">Show Description</label>
        <textarea required class="form-control" name="description"></textarea>
      </div>
      <div class="form-group">
        <label for="rehearsal">Rehearsal Dates and Times</label>
        <textarea required class="form-control" name="rehearsal" placeholder="Monday, Wendsday 7-9"></textarea>
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>